#container {
  background-color: #d9d7d7;
  border-radius: 20px;
  border: 3px solid black;
  max-width: 590px;
  margin: 0 auto;
  margin-top: 20%;
  height: 36vh;
}
#cont{
  top: 10px;
  margin-left: 10px;
  padding: 10px;
  background-color: #d9d7d7;
  border-radius: 20px;
}

#deleteButton {
  background-color: aqua;
  height: 45px;
  width: 100px;
  border-radius: 6px;
  color: gray;
  border: 3px solid black;
  font-weight: bold;
}

#inputTodo{
  width: 300px;
  height: 38px;
  color: gray;
  text-align: center;
  border: 3px solid black;
  font-size: 15px;
  margin-left: 20px;
  border-radius: 6px;
}
#addButton {
  background-color: aqua;
  border: 3px solid black;
  height: 45px;
  width: 100px;
  border-radius: 6px;
  color: gray;
  margin-left: 20px;
  font-weight: bold;
}

#borderFirst
{
  border: 3px solid black;
  width:98%;
  height: 90px;
  display: flex;
  border-radius: 6px;
  margin-top: 20px;
}

#buttonCheck
{
  background-color: aqua;
  height: 35px;
  width: 50px;
  border-radius: 6px;
  color: gray;
  border: 3px solid black;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
}

#todoText
{
  width: 350px;
  height: 38px;
  color: gray;
  text-align: center;
  border: 0px;
  font-size: 15px;
  margin-left: 20px;
  border-radius: 6px;
  margin-top: 18px;
  font-weight: bold;
}

#buttonCancel
{
  background-color: aqua;
  height: 35px;
  width: 50px;
  border-radius: 6px;
  color: gray;
  border: 3px solid black;
  font-weight: bold;
  margin-right: 20px;
  margin-top: 5px;
}

#date
{
  width: 80px;
  height: 30px;
  color: gray;
  text-align: center;
  border: 0px;
  font-size: 15px;
  margin-left: 20px;
  border-radius: 6px;
  font-weight: bold;
  margin-top: 50px;
}